@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair', sans-serif;

}

.color{

    color: black !important;
    text-decoration: none !important;

}

.color:hover {

    text-decoration: none !important;

}

body{
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
}

#partearriba{
    background-color: #F9FBFD;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #B4C4B2;
    padding: 2px;
    flex-direction: row;
}

.empresas{
    color: #B4C4B2;
    padding: 3px;
    font-size: 16px;
    margin: 0 !important;
}

html, body {
    margin: 0;
    padding: 0;
    /*background-image: url("/NeasAPP/static/img/fondocss3.jpg");*/
     /* Fondo degradado de tonos verdes y blanco pastel */
    background: linear-gradient(to bottom right, #FFFFFF, #9AACB5, #FFFFFF);
    background-repeat: revert;
    }



#parteabajo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 5px 8px gray;
    flex-direction: row;
}

#botones{
    padding: 16px;
    display: flex;
    align-items: center;

}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    background-color: #D9EAD3;
    border-radius: 7px;
    border-width: thin;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 3px 5px gray;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    transition: all 0.4s ease 0s;

}
.boton:hover{
    transform: scale(1.04);

}

.imagenusuario{
    margin-right: 15px
}
#ima{
    cursor: pointer;
}

.inicio{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
}

h6{
    color: #EBEFEF;

}

p{
    color: #CCCCCC;
    padding: 0 !important;
    margin-bottom: 0 !important;
}


.bg{
    background-color: #78909C;


}

section{
    padding: 0;
    margin: 0;
}

footer{

    bottom: 0;
    position: relative ;
    width: 100%;

}

.pt {

    padding-top: 2%;

}

.pb {

     padding-bottom: 2%;

}

.remix {

    width: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h3 {

    margin-bottom: 0 !important;

}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}