footer {
    position: relative !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #c1bdba;
  font-family: "Ubuntu", helvetica, serif;

}

a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.2s ease;
}

a:hover {
  color: #117c63;
}

.contenedor-formularios {
  background: #d3e2ea;
  padding: 40px;
  max-width: 500px;
  margin: 40px auto;
  border-radius: 6px;
  box-shadow: 0 4px 10px 4px rgba(19,35,47,0.3);
  border: 2px solid #6A998B;
}



.contenedor-tabs {
  list-style: none;
  padding: 0;
  margin: 0 0 5px 0;
}

.contenedor-tabs:after {
  content: "";
  display: table;
  clear: both;
}

.contenedor-tabs li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #000000a8;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: auto;
}

.contenedor-tabs .active a {
  width: 100%;
  font-weight: bolder;
  font-size: 35px;
}

h1 {
  text-align: center;
  color: black;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255,255,255,0.5);
  transition: all 0.2s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: black;
}

input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 9px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  border-radius: 0;
  transition: all 0.2s ease;
  border-radius: 5px;

}

input:focus {
  font-size: 22px;
  outline: none;
  border-color: #1ab188;
}

.contenedor-input {
  position: relative;
  margin-bottom: 40px;
  color: #117C63;
}

.fila-arriba:after {
  content: "";
  display: table;
  clear: both;
}

.fila-arriba div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.fila-arriba div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 0;
  font-size: 2rem;
  background: #6A998B;
  color: #fff;
  transition: all 0.2s ease;
}

.button:hover,
.button:focus {
  background: #117c63;
}

.button-block {
  display: block;
    margin-top: 20px;
    padding: 10px;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom: 20px;
  font-size: 13px;
}

p {
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

#sincuenta{
    margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .fila-arriba div {
    width: 100%;
  }

  .fila-arriba div:last-child {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 400px) {
  .contenedor-tabs li a {
    width: 100%;
  }
}

.credenciales{
  color: #a7a7a7;
}

.nocuenta{
  color: #117C63;
}
form{
  margin-top: 25px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 7px;
}

select{

  border-radius: 20px;
  border: .5px solid silver;
  outline: none;
  width: 100%;
  padding: 5px 8px;
  transition: all 0.2s ease 0s;

}

select:focus{

  border-radius: 15px 15px 0 0;

}

option:hover {

  background-color: black;
  color: white;

}

.comment {
    margin: 20px 0px 20px 20px;
}

form {
  margin-left:500px;
}