h6{
    color: #EBEFEF;

}
p{
    color: #CCCCCC;
}


.g{
    background-color: #78909C;
    padding-top: 1px;
    margin-top: 0;
    width: 200px;
}

#s{
    padding: 0;
}


.imagen{
    padding-bottom: 0;
    margin-bottom: 0;

}


section{
    padding: 0;
}