@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*, body{

    background-color: #f9fbfd;
    font-family: 'Playfair Display', serif;

}

.logoNeas{

    width: 200px;

}

a{

    display: flex;
    color: black;

}

.inisesion {

    display: flex;
    color: black;

}