input {

    border-radius: 6px;
    border: 1px solid silver;
    outline: none;

}

select {

    border-radius: 8px;
    outline: none;
    text-align: center;

}

.inicio {

    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap !important;
    height: auto;

}