.inicio{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top:50px;
}

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
}

input {

    border-radius: 5px;
    background-color: white;
    width: 30%;
    height: 50px;
    text-align: center;


}

label {

    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 50px;
    text-align: center;

}