input {

    border-radius: 6px;
    border: 1px solid silver;
    outline: none;

}

label {

    font-size: 16px;

}

select {
    width: 40%;
    height: 80px;
    border-radius: 8px;
    outline: none;
    text-align: center;
    font-size: 16px;

}

select option{

    font-size: 16px;

}
select option:first-child{

    font-size: 16px;

}


.inicio {

    align-items: center;
    text-align: center;
    flex-wrap: wrap !important;
    width: 100%;
    display: flex;
    justify-content: center;

}

form {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fs {

    font-size: 16px;

}

input {
    border-radius: 6px;
    border: 1px solid silver;
    outline: none;
}

select {
    border-radius: 8px;
    outline: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.imagen {
  flex-shrink: 0;
  width: 50%;
  height: 50%;
  background-size: cover;
  background-position: center;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


.carousel {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  width: 0;
}

.carousel::-webkit-scrollbar-track {
  background: transparent;
}

.carousel::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.carousel {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 50%;
    background-image: url('img/last.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    counter-increment: item;
    opacity: 0.9;
}

.carousel__slide:nth-child(2) {
  background-image: url('img/seville.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__slide:nth-child(3) {
  background-image: url('img/istanbul.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__slide:nth-child(4) {
  background-image: url('img/puente.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__slide:nth-child(5) {
  background-image: url('img/seville.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__slide:nth-child(6) {
  background-image: url('img/fotobuena.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__slide:nth-child(7) {
  background-image: url('img/fotobuena2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__slide:nth-child(8) {
  background-image: url('img/fotobuena3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: 0;
}

.carousel::after,
.carousel__next {
  right: 0;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.inicio {
    position: absolute;
    z-index: 2;
    margin: 100px auto 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

footer{

    position: relative !important;

}

.carrusel{

    margin-bottom: -306px;

}