input {

    border-radius: 6px;
    border: 1px solid silver;
    outline: none;

}

label {

    font-size: 20px;

}

select {
    width: 40%;
    height: 80px;
    border-radius: 8px;
    outline: none;
    text-align: center;
    font-size: 20px;

}

select option{

    font-size: 20px;

}
select option:first-child{

    font-size: 20px;

}


.inicio {

    align-items: center;
    text-align: center;
    flex-wrap: wrap !important;
    width: 100%;

}

form {

    width: 100%;

}

.fs {

    font-size: 20px;

}

input {
    border-radius: 6px;
    border: 1px solid silver;
    outline: none;
}

select {
    border-radius: 8px;
    outline: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.carrusel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carrusel-imagenes {
  display: flex;
  width: 100%;
  height: 100%;
  animation: desplazamiento 240s infinite;
}


.imagen {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  /* Añade más pasos aquí para más imágenes */
  100% {
    transform: translateX(0%);
  }
}

#imagen1 {
    background-image: url('img/catedralsevilla.jpg');
    opacity: 0.6;
}

#imagen2 {
    background-image: url('img/fotosevilla.jpg');
    opacity: 0.6;
}

#imagen3 {
    background-image: url('img/giralda.png');
    opacity: 0.6;
}

.inicio {
    position: absolute;
    z-index: 2;
    margin: 100px auto 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: 60%; /* Ajusta el ancho según lo desees */
}