input {

    border-radius: 6px;
    border: 1px solid silver;
    outline: none;

}

select {

    border-radius: 8px;
    outline: none;
    text-align: center;

}

.inicio {

    background-image: url('img/fotosevilla.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 80%;
    width: 100%;
    opacity: 0.5;
    margin: 0 !important;
    align-items: center;

}