.carta {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: beige;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.hola {

    background-color: beige;

}

.padre {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    flex-wrap: wrap;
}

footer {

    position: relative !important;

}