.carta {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: beige;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    width: 40%;
}

.hola {

    background-color: beige;
    max-width: 100% !important;

}

.hola1 {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.padre {
    display: flex;
    justify-content: space-around;
    margin: 0 2%;
    flex-wrap: wrap;
}

footer {
    position: relative !important;
}

#imgruta {

    width: 100%;

}

.card-text {

    color: black;

}

.medio {

    justify-content: center;
    text-align: center;

}

.derecha {

    justify-content: center;
    text-align: center;

}

.card-title {

    margin: 0 !important;

}

.padreArriba {

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;

}

form {

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10%;
    padding: 20px;

}

.mb-3 {

    margin: 0 !important;

}

select {

    outline: none;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: medium;

}

option {

    font-size: medium;
    text-align: center;

}