.header-gradient, .header {
  background: #4a90e2;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #4a90e2, #d56fa1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #4a90e2, #d56fa1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #4a90e2, #d56fa1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #4a90e2, #d56fa1);
  /* Standard syntax */ }

* {
    font-family: 'Playfair', sans-serif;
}

@media (max-width: 767px) {
  .footer {
    border-radius: 0; } }

#terms-and-conditions .terms-and-conditions-section {
  margin: 10px 0; }
  #terms-and-conditions .terms-and-conditions-section.grey {
    background-color: #f8f8fb; }
  #terms-and-conditions .terms-and-conditions-section .section-title {
    color: #979797; }

#about .about-section {
  margin: 10px 0; }
  #about .about-section.grey {
    background-color: #f8f8fb; }

#about .text-section {
  margin-top: 30px;
  margin-bottom: 100px; }

.how-to-section {
  margin: 10px 0;
  padding: 20px 0; }
  .how-to-section.grey {
    background-color: #f8f8fb; }

.text-wrapper {
  height: 400px;
  position: relative; }
  .text-wrapper .section-text {
    position: absolute;
    top: 40%;
    height: 100px;
    margin-top: -50px; }

.title {
  font-weight: 100;
  font-style: italic;
  color: #979797;
  margin-bottom: 30px; }

.section-header {
  font-weight: bold;
  color: #6e7fd8; }

.subtext {
  font-size: 18px;
  color: #919191; }

.how-to-image {
  height: 400px;
  max-width: 100%; }

@media (max-width: 767px) {
  .text-wrapper {
    height: auto;
    position: static; }
    .text-wrapper .section-text {
      position: static;
      height: auto;
      margin-top: 0; }
  .how-to-image {
    height: 200px; } }