{% include "header.html" %}

    <form method="post" action="/NEAS/ruta/crear/">

        {% csrf_token %}

        <label for="nombre">Nombre</label>
        <input id="nombre" name="nombre" type="text"/>

        <div class="mb-3">

             <label for="tipo_ruta" class="form-label">Tipo de Ruta</label>
             <select id="tipo_ruta" name="tipo_ruta">
                 {% for t in tipo_rutas %}
                    <option value="{{ t}}"> {{t}}</option>
                  {% endfor  %}
             </select>

        </div>

        <div class="mb-3">

             <label for="tramo_horario" class="form-label">Tipo de Ruta</label>
             <select id="tramo_horario" name="tramo_horario">
                 {% for t in tramo_horario %}
                    <option value="{{ t}}"> {{t}}</option>
                  {% endfor  %}
             </select>

        </div>

        <div class="mb-3">

             <label for="tipo_transporte" class="form-label">Tipo de Transporte</label>
             <select id="tipo_transporte" name="tipo_transporte">
                 {% for ti in tipo_transporte %}
                    <option value="{{ti}}"> {{ti}}</option>
                  {% endfor  %}
             </select>

        </div>

        <label for="hora_inicio">Hora de comienzo aproximada:</label>
        <input id="hora_inicio" name="hora_inicio" type="time"/>

        <label for="hora_fin">Hora de finalización aproximada:</label>
        <input id="hora_fin" name="hora_fin" type="time"/>

        <input type="submit" value="Enviar"/>

    </form>