{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">
    <title></title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
</head>

<body>


<footer>
<section class="d-flex justify-content-center justify-content-lg-between">
    <!-- Left -->

        <img src="{% static "giralda.png" %}" alt="fotogiralda">
        <img src="{% static "imagenflamenco_preview_rev_1.png" %}" alt="fotoflamenca">

    <!-- Left -->
    <!-- Right -->
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="g">
    <div class="g container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="g row mt-3">
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="g col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="g text-uppercase fw-bold mb-4" id="titulos">
            NEAS
          </h6>
          <p class="g">
            <a href="#!" class="g text-reset">Sobre Nosotros</a>
          </p>
          <p class="g">
            <a href="#!" class="g text-reset">Centro de Ayuda</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="g col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->

          <h6 class="g text-uppercase fw-bold mb-4" class="titulos">
            RECURSOS
          </h6>

          <p class="g">
            <a href="#!" class="g text-reset" style="width: 100px">Términos & Condiciones</a>
          </p>

          <p class="g">
            <a href="#!" class="g text-reset">Política de Privacidad</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center" id="s" style="background-color: #78909C; padding-bottom: 1%">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">NEAS</a>
  </div>
  <!-- Copyright -->
</footer>
</body>

{% endblock %}

