{% extends "basic_page.html" %}
{% load static %}

{% block title %}

    Login Usuario | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'login_usuario.css' %}">

{% endblock %}

{% block content1 %}

    <div class="padre">

    <h2>INICIA SESIÓN COMO USUARIO</h2>

        <div class="container">

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <div class="botoon">

                    <button class="boton boton2" type="submit">Iniciar Sesión</button>

                </div>

            </form>

            <a class="nav-item nav-link" href="{% url 'registrar_usuario' %}">

                ¿Aún no tienes una cuenta? Regístrate aquí.<i class="fas fa-sign-in-alt"></i>

            </a>

        </div>

    </div>

{% endblock %}