{% extends "basic_page.html" %}
{% load static %}

{% block title %}

    Logout | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'inicio.css' %}">

{% endblock %}



{% block content1 %}

     <h2>ESPERAMOS VOLVER A VERTE PRONTO</h2>
    <div class="container">
        <a class="nav-item nav-link" href="{% url 'inicio' %}">
           Llévame a NEAS<i class="fas fa-sign-in-alt"></i>
        </a>
    </div>

    <div id="carrusel_logout">
    <h3>Prueba div JSCript</h3>


    </div>
    <div id="carrusel">
        <script src="{% static 'carrusel_logout.js' %}"></script>
    </div>


{% endblock %}

