{% extends "basic_page.html" %}
{% load static %}

{% block title %}

    Crear Rutas | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'crear_ruta.css' %}">

{% endblock %}

{% block content1 %}

    <div class="contenedor-formularios">

        <ul class="contenedor-tabs">

            <li class="tab tab-segunda active"><a href="#">MODIFICA TU RUTA</a></li>

        </ul>

        <div class="contenido-tab">

            <div id="iniciar-sesion">

                <form method="post" action="#" id="myForm">

                    {% csrf_token %}

                    <div class="contenedor-input">

                        <label class="credenciales" for="nombre">Nombre: <span class="req">*</span></label>
                        <input id="nombre" name="nombre" value="{{ ruta.nombre }}" type="text" required/>

                    </div>

                    <div class="contenedor-input">

                        <label class="credenciales" for="desc">Descripción: <span class="req">*</span></label>
                        <input id="desc" name="desc" value="{{ ruta.descripcion }}" type="text" required/>

                    </div>

                    <div class="contenedor-input">

                        <select id="ciudad" name="ciudad" value="{{ ruta.ciudad}}">
                            <option value="" disabled selected hidden>Elige tu ciudad:</option>
                            {% for p in provincia %}
                                {% if ruta.ciudad == p%}
                                    <option  value="{{ p }}" selected> {{ p }}</option>

                                {% else %}

                                    <option  value="{{ p }}" > {{ p }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                    </div>

                    <div class="contenedor-input">

                        <select required id="tipo_ruta" name="tipo_ruta" value="{{ ruta.tematica }}">
                            <option value="" disabled selected hidden>Elige tu ruta:</option>
                            {% for t in tipo_rutas %}
                                 {% if ruta.tematica == t %}
                                    <option  value="{{ t }}" selected> {{ t }}</option>

                                {% else %}

                                    <option  value="{{ t }}" > {{ t }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                    </div>

                    <div class="contenedor-input">

                        <select required id="tramo_horario" name="tramo_horario" value="{{ ruta.tramo_horario }}">
                            <option value="" disabled selected hidden>Elige tu horario:</option>
                            {% for t in tramo_horario %}
                                {% if ruta.tramo_horario == t %}
                                    <option  value="{{ t }}" selected> {{ t }}</option>

                                {% else %}

                                    <option  value="{{ t }}" > {{ t }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                    </div>

                    <div class="contenedor-input">

                        <select required id="tipo_transporte" name="tipo_transporte" value="{{ ruta.transporte}}">
                            <option value="" disabled selected hidden>Elige tu transporte:</option>
                            {% for ti in tipo_transporte %}
                                {% if ruta.transporte == ti %}
                                    <option  value="{{ ti }}" selected> {{ ti }}</option>

                                {% else %}

                                    <option  value="{{ ti }}" > {{ ti }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                    </div>

                    <div class="contenedor-input">

                        <input id="hora_inicio" name="hora_inicio" type="time" required value="{{ ruta.hora_inicio }}"/>

                        <input id="hora_fin" name="hora_fin" type="time" required value="{{ ruta.hora_fin }}"/>

                    </div>

                    <div class="contenedor-input">

                        <label class="credenciales" for="imagen" >URL Imagen: <span class="req">*</span></label>
                        <input id="imagen" name="imagen" type="url" value="{{ ruta.imagen }}" required/>

                    </div>

                    <div class="contenedor-input">

                        <label class="credenciales" for="precio">Precio Ruta: <span class="req">*</span></label>
                        <input id="precio" name="precio" type="number"  value="{{ ruta.precio }}" required/>

                    </div>


                    <input type="submit" class="button button-block" value="Modificar Ruta">

                </form>

            </div>

        </div>

    </div>

{% endblock %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'login.js' %}"></script>

{% endblock %}