<!DOCTYPE html>
{% extends "basic_page.html" %}
{% load static %}

{% block title %}

    Comenta la Ruta | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'mostrar_ruta_especifica.css' %}">

{% endblock %}

{% block content1 %}

     <ul class="contenedor-tabs">

               <h2>PON AQUÍ TU COMETARIO</h2>

     </ul>


        <div class="contenedor-formularios">




                <div class="padre">

                            <div class="card" style="width: 18rem;">

                                <img class="card-img-top imgruta" src="{{ ruta.imagen }}" alt="Card image cap">

                                <div class="card-body" style="display: flex;justify-content: flex-start;gap:5px">
                                    <p class="card-text">{{ ruta.tematica }}</p>
                                    <p class="card-text">•</p>
                                    <p class="card-text">{{ ruta.transporte }}</p>
                                </div >

                                <div class="card-body" style="display: flex;justify-content:space-between;align-items: center">
                                    <h5>{{ ruta.nombre }}</h5>
                                    <h4>-</h4>
                                    <h5>{{ ruta.valoracion_media }}</h5>
                                </div>

                                <div class="card-body" style="display: flex;justify-content:space-between;flex-direction: column">
                                    <p class="card-title">{{ ruta.ciudad }}</p>
                                    <p class="card-title">{{ ruta.precio }}€ de precio medio.</p>
                                </div>
                            </div>



                        <form method="post" action="{% url 'detalles_ruta' id %}" id="myForm">

                            {% csrf_token %}

                            <div class="contenedor-input">

                                <label class="credenciales" for="comentario">Comentario: <span class="req">*</span></label>
                                <input id="comentario" name="comentario" type="text" required/>

                            </div>

                             <div class="contenedor-input">

                                <input type="submit" class="button button-block" value="Comentar">

                            </div>
                        </form>

                    <div class="comentarios">
                         {% if comentarios.count > 0 %}

                            {% for c in comentarios %}


                                    <div class="social-box">
                                      <img class="imagencomentario" alt="" src="{{ c.autor_comentario.imagen }}">
                                      <p class="social">{{ c.autor_comentario.username }}</p>
                                      <div class="social"> <p> {{ c.comentario }}</p></div>
                                       <div class="social"><p>{{ c.fecha_creacion }}</p></div>
                                    </div>

                            {% endfor %}
                        {% endif %}
                    </div>
            </div>
        </div>














{% endblock %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'login.js' %}"></script>

{% endblock %}