{% extends "basic_page.html" %}
{% load static %}

{% block title %}

    Mostrar Rutas | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'mostrar_rutas.css' %}">

{% endblock %}

{% block content1 %}

    <div class="padreArriba">

        <form method="post" action="/neas/buscar/personalizada/">

        {% csrf_token %}

            <div class="">

                <label for="tipo_ruta" class="form-label">Tipo de Ruta:</label>
                <select id="tipo_ruta" name="tipo_ruta">
                    <option value="" disabled selected hidden>Elige tu tipo de ruta:</option>
                    {% for t in tipo_rutas %}
                        <option value="{{ t }}"> {{ t }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="">

                <label for="tramo_horario" class="form-label">Tramo Horario:</label>
                <select id="tramo_horario" name="tramo_horario">
                    <option value="" disabled selected hidden>Elige tu horario:</option>
                    {% for t in tramo_horario %}
                        <option value="{{ t }}"> {{ t }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="">

                <label for="tipo_transporte" class="form-label">Tipo de Transporte:</label>
                <select id="tipo_transporte" name="tipo_transporte">
                    <option value="" disabled selected hidden>Elige tu transporte:</option>
                    {% for ti in tipo_transporte %}
                        <option value="{{ ti }}"> {{ ti }}</option>
                    {% endfor %}
                </select>

            </div>

            <input class="boton" type="submit" value="Buscar Ruta"/>

        </form>

    </div>


    {% if rutas.count > 0 %}

        <div class="padre">

            {% for r in rutas %}

                    <div class="card " style="width: 18rem;">

                        <a href="/neas/ruta/detalles/{{ r.id }}">

                            <img class="card-img-top imgruta" src="{{ r.imagen }}" alt="Card image cap">

                            <div class="card-body" style="display: flex;justify-content: flex-start;gap:5px">
                                <p class="card-text">{{ r.tematica }}</p>
                                <p class="card-text">•</p>
                                <p class="card-text">{{ r.transporte }}</p>
                            </div >

                            <div class="card-body" style="display: flex;justify-content:space-between;align-items: center">
                                <h5>{{ r.nombre }}</h5>
                                <h4>-</h4>
                                <h5>{{ r.valoracion_media }}</h5>
                            </div>

                            <div class="card-body" style="display: flex;justify-content:space-between;flex-direction: column">
                                <p class="card-title">{{ r.ciudad }}</p>
                                <p class="card-title">{{ r.precio }}€ de precio medio.</p>
                                <a href="{% url 'generar_pdf' %}">Generar PDF</a>
{#                                <a href="{% url 'valorar_ruta' r.id %}">Valorar Ruta</a>#}

                            </div>

                        </a>

                        <div class="card-body" style="display: flex; justify-content: space-around">

                            {% if r.operador_tur.id is user.id %}

                                <div class="card-body" style="display: flex; justify-content: space-around;align-items: center">

                                    <a href="/neas/ruta/eliminar/{{ r.id }}" class="card-link"><img class="imgeliminar" src="{% static "img/eliminar_ruta.png" %}"></a>

                                    <a href="/neas/ruta/modificar/{{ r.id }}" class="card-link"><img class="imgupdate" src="{% static "img/icons8-actualizaciones-disponibles-30.png" %}"></a>

                                </div>

                            {% endif %}

                                <a href="{% url "modificarcadiz" id=r.id%}">Modifica ruta de Cadiz</a>


                        </div>

                    </div>

            {% endfor %}

        </div>

    {% else %}

        <div class="padre">

                <div class="carta mb-3">

                    <div class="hola g-0" style="align-items: center;display: flex;flex-direction: column">

                        <div>

                            <img src="{% static "img/icons8-error-globe-64.png" %}" class="img-fluid rounded-start imgruta2"  alt="fotoError">

                        </div>

                        <div class="hola col-md-8" style="text-align: center">

                            <h1>LO SENTIMOS, NO HEMOS ENCONTRADO LO QUE BUSCABAS</h1>

                        </div>

                    </div>

                </div>

        </div>

    {% endif %}

{% endblock %}