<!DOCTYPE html>
{% extends "basic_page.html" %}
{% load static %}

{% block title %}

    Comenta la Ruta | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'mostrar_ruta_especifica.css' %}">

{% endblock %}

{% block content1 %}

        <div class="contenedor-formularios">

            <div class="padre">

                <div class="parteizquierda">

                    <div class="card" style="width: 30rem;height: 590px;">

                        <a href="/neas/ruta/detalles/{{ ruta.id }}">

                            <img class="card-img-top imgruta" src="{{ ruta.imagen }}" alt="Card image cap">

                            <div class="cuerpocarta">

                                <div class="card-body" style="display: flex;justify-content: flex-start;gap:5px;height: 60px">
                                    <p class="card-text">{{ ruta.tematica }}</p>
                                    <p class="card-text">•</p>
                                    <p class="card-text">{{ ruta.transporte }}</p>
                                </div>

                                <div class="card-body"
                                     style="display: flex;justify-content:space-between;align-items: center;height: 60px">
                                    <h5>{{ ruta.nombre }}</h5>
                                    <h4>-</h4>
                                    <h5>{{ ruta.valoracion_media }}</h5>
                                </div>

                                <div class="card-body"
                                     style="display: flex;justify-content:space-between;flex-direction: column;height: 60px">
                                    <p class="card-title">{{ ruta.ciudad }}</p>
                                    <p class="card-title">{{ ruta.precio }}€ de precio medio.</p>
                                    <a href="{% url 'generar_pdf' %}">Generar PDF</a>
                                </div>

                            </div>

                        </a>

                        {% if r.operador_tur.id is user.id %}

                            <div class="card-body" style="display: flex; justify-content: space-around">

                                    <div class="card-body" style="display: flex; justify-content: space-around;align-items: center">

                                        <a href="/neas/ruta/eliminar/{{ ruta.id }}" class="card-link"><img class="imgeliminar" src="{% static "img/eliminar_ruta.png" %}"></a>

                                        <a href="/neas/ruta/modificar/{{ ruta.id }}" class="card-link"><img class="imgupdate" src="{% static "img/icons8-actualizaciones-disponibles-30.png" %}"></a>

                                    </div>

                            </div>

                        {% endif %}

                    </div>

                </div>

                <div class="partederecha">

                    {% if ruta.id not in rutas_valoradas and user.rol == "Cliente" %}

                        <form action="{% url 'valorar_ruta' ruta.id %}" method="post">

                            {% csrf_token %}

                            {{ form2.as_p }}

                            <input type="submit" class="button button-block" value="Valorar">

                        </form>

                    {% endif %}

                    {% if user.id not in id_user %}

                        <form method="post" action="{% url 'detalles_ruta' id %}" id="myForm">

                            {% csrf_token %}

                            <div class="contenedor-input">

                                <label class="credenciales" for="comentario">Comentario: <span class="req">*</span></label>
                                <input id="comentario" name="comentario" type="text" required/>

                            </div>

                             <div class="contenedor-input">

                                <input type="submit" class="button button-block" value="Comentar">

                            </div>

                        </form>

                    {% endif %}

                    <div class="comments-container">

                        <h1>Comentarios</h1>

                        {% if comentarios.count > 0 %}

                            {% for c in comentarios %}

                                <ul id="comments-list" class="comments-list">

                                    <li>

                                        <div class="comment-main-level">

                                            <div class="comment-avatar"><img
                                                    src="{% if c.autor_comentario.imagen == 'NeasAPP/static/img/userfoto.png' %} {% static 'img/userfoto.png' %} {% else %} {{ c.autor_comentario.imagen }} {% endif %}"
                                                    alt="">
                                            </div>

                                            <div class="comment-box">

                                                <div class="comment-head">
                                                    <h6 class="comment-name by-author">{{ c.autor_comentario.username }}</h6>
                                                    <span>{{ c.fecha_creacion.date }}</span>
                                                    <i class="fa fa-reply"></i>

                                                    {% if user.is_authenticated %}
                                                        {% if user in c.likes_contador.all %}
                                                            <a href="{% url 'like_comentario' c.id %}" class="btn btn-danger btn-sm">Quitar like</a>
                                                        {% else %}
                                                            <a class="fa fa-heart" href="{% url 'like_comentario' c.id %}" class="btn btn-primary btn-sm"></a>
                                                            <h5 class="likes-contador-{{ c.id }}" style="float: right">{{ c.likes_contador }}</h5>
                                                        {% endif %}
                                                    {% endif %}

                                                </div>

                                                <div class="comment-content">
                                                    {{ c.comentario }}
                                                    {% if c.autor_comentario == user %}

                                                    <a href="{% url 'eliminar_comentario' id=c.id %}" class="card-link"><img class="imgeliminar" src="{% static "img/eliminar_ruta.png" %}"></a>

                                                    {% endif %}
                                                </div>

                                            </div>

                                        </div>

                                    </li>

                                </ul>

                            {% endfor %}

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

{% endblock %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'login.js' %}"></script>

{% endblock %}