{% extends "basic_page.html" %}
{% load static %}

{% block title %}

    Mostrar Rutas | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'inicio.css' %}">

{% endblock %}

{% block content1 %}

    <div>

        {% for r in rutas %}

            <div class="carta mb-3">

                <div class="hola g-0">

                    <div>

                        <img src="{% static "img/fotosevilla.jpg" %}" class="img-fluid rounded-start" id="imgruta" alt="fotoSevilla">

                    </div>

                    <div class="hola col-md-8">

                        <div class="hola card-body">

                            <h5 class="hola card-title">{{ r.nombre }}</h5>
                            <p class="hola card-text">{{ r.tipo_recorrido }}</p>
                            <p class="hola card-text">{{ r.tipo_transporte }}</p>

                        </div>

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}