{% extends "basic_page.html" %}
{% load static %}

{% block title %}

    Operador | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'inicio.css' %}">

{% endblock %}

{% block content1 %}

<!-- Código HTML para el menú desplegable de operadores -->
{% if user.is_authenticated and user.rol == 'Operador' %}
    <form method="post">
       {% csrf_token %}
        <label for="menu">Seleccione una opción:</label>
        <select id="menu" name="menu">
            <option value="crear">Crear ruta</option>
            <option value="mostrar">Mostrar ruta</option>
        </select>
        <input type="submit" value="Enviar">
    </form>

        {% if request.method == 'POST' %}
        {% if request.POST.menu == 'crear' %}
            {% url 'crear_ruta' %}
        {% elif request.POST.menu == 'mostrar' %}
            {% url 'mostrar_ruta' %}
        {% endif %}
    {% endif %}

{% endif %}


{% endblock %}