{% extends "basic_page.html" %}
{% load static %}

{% block title %}

    Registrar Operador | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'registrar.css' %}">

{% endblock %}

{% block content1 %}

    <div class="padre padre1">

    <h2>REGÍSTRATE COMO OPERADOR TURÍSTICO</h2>

        <div class="container">

            <form name="formOPTHM" method="post" action="/neas/registrar/operador/">

                {% csrf_token %}

{#                {{ form.as_p }}#}

                <label for="nombre_operador">Usuario: </label>
                <input id="username" type="text" name="username" value="">

                <label for="password1_operador">Contraseña: </label>
                <input id="password1" type="password" name="password" value="">

                <label for="password2_operador">Repite Contraseña: </label>
                <input id="password2" type="password" name="password2" value="">

                <label for="email_operador">Email: </label>
                <input id="email" type="email" name="email" value="">

                <label for="cif_operador">Cif: </label>
                <input id="cif" type="text" name="cif" value="">

                <label for="telf_operador">Telefono: </label>
                <input id="telefono" type="tel" name="telf" value="">

                <label for="anyo_operador">Fundacion: </label>
                <input id="a_fund" type="date" name="a_fund" value="">

                <label for="web_operador">Website: </label>
                <input id="website" type="url" name="website" value="">

                <label for="forgot_operador">Forgot: </label>
                <input id="forgot" type="text" name="forgot" value="">

                 <label for="info_operador">Info: </label>
                <input id="info" type="text" name="info" value="">


                <div class="botoon">

                    <button class="boton boton2" type="submit">Regístrate</button>

                </div>

            </form>

            <a class="nav-item nav-link" href="{% url 'login_operador' %}">

                ¿Tienes ya una cuenta? Inicia sesión aquí.<i class="fas fa-sign-in-alt"></i>

            </a>

        </div>

    </div>

{% endblock %}