{% extends "basic_page.html" %}
{% load static %}

{% block title %}

    Registrar Usuario | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'login_operador.css' %}">

{% endblock %}

{% block content1 %}

    <div class="contenedor-formularios">
        <ul class="contenedor-tabs">
            <li class="tab tab-segunda active"><a href="#">USUARIO</a></li>
        </ul>

        <div class="contenido-tab">
            <div id="iniciar-sesion">

                <h1>Registrate</h1>
                <form action="#" method="post" id="myForm">
                    {% csrf_token %}
                    <div class="contenedor-input">
                        <label class="credenciales">
                            Email <span class="req">*</span>
                        </label>
                        <input type="email" name="email" required>

                    </div>
                    <div class="contenedor-input">
                        <label class="credenciales">
                            Usuario <span class="req">*</span>
                        </label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="contenedor-input">
                        <label class="credenciales">
                            Contraseña <span class="req">*</span>
                        </label>
                        <input type="password" name="password1" id="password1" required>
                    </div>
                    <div class="contenedor-input">
                        <label class="credenciales">
                            Repite Contraseña <span class="req">*</span>
                        </label>
                        <input type="password" name="password2" id="password2" required>
                    </div>
                    <p class="forgot"><a href="#">¿Has olvidado la contraseña?</a></p>
                    <input type="submit" class="button button-block" value="Entrar">
                </form>
            </div>
            <a id="sincuenta" class="nav-item nav-link" href="{% url 'login_usuario' %}">
                <p class="nocuenta"> ¿Ya tienes cuenta? Inicia sesión aquí. </p><i
                    class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </div>

{% endblock %}
{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'login.js' %}"></script>

{% endblock %}
