{% extends "basic_page.html" %}
{% load static %}

{% block title %}

    Registrar Operador | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'registrar.css' %}">

{% endblock %}

{% block content1 %}

    <h2>REGÍSTRATE COMO OPERADOR TURÍSTICO EN NEAS</h2>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="boton" type="submit">Registrar</button>

        </form>

    <a class="nav-item nav-link" href="{% url 'login_operador' %}">

        ¿Tienes ya una cuenta? Inicia sesión aquí. <i class="fas fa-sign-in-alt"></i>

    </a>

{% endblock %}