{% extends "basic_page.html" %}
{% load static %}

{% block title %}

   RUTAS | NEAS

{% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'inicio.css' %}">

{% endblock %}

{% block content1 %}

    <footer>

        <section class="d-flex justify-content-lg-between">

            <img src="{% static "img/giralda.png" %}" alt="fotogiralda">

            <img src="{% static "img/imagenflamenco_preview_rev_1.png" %}" alt="fotoflamenca">

        </section>


    </footer>



{% endblock %}